# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# IDEs
.vscode/
.idea/
